@page "/Profile"
@model SystemDiaryClient.Pages.ProfileModel
@{
    ViewData["Title"] = "Профиль пользователя";
}

<p>@Model.Surname @Model.UserName @Model.FatherName</p>
<p>@Model.Email</p>
<p>@Model.Role</p>